<div class="modal fade" id="editPassword" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <form action="/perfil/password/edit" method="POST" class="modal-content">
            <div class="modal-header">
                <h7 class="modal-title font-weight-bold"><i class="fa fa-lock"></i> Alterar Senha</h7>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="form-row mt-1">
                    <div class="form-group col-lg-12">
                        <label for="oldPassword">Senha actual</label>
                        <input type="password" class="form-control" name="oldPassword" id="oldPassword" placeholder="Senha actual" maxlength="120" required>
                    </div>
                </div>

                <div class="form-row mt-1">
                    <div class="form-group col-lg-12">
                        <label for="password">Nova senha</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Nova senha" maxlength="120" required>
                    </div>
                </div>

                <div class="form-row mt-1">
                    <div class="form-group col-lg-12">
                        <label for="confirmPassword">Confirmar senha</label>
                        <input type="password" id="confirmPassword" class="form-control" name="confirmPassword"  placeholder="Confirme a nova senha" maxlength="120" required>
                    </div>
                </div>
                <input type="hidden" name="userId" value="<%= loggedUser.id %>">
                <input type="hidden" name="userPassword" value="<%= loggedUser.password %>">
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-danger" data-dismiss="modal"> Cancelar</button>
                <button type="submit" id="enviar" class="btn btn-info"><i class="fa fa-pencil"></i> Editar</button>
            </div>
        </form>
    </div>
</div>