<header>
    <nav class="icon-nav">
        <li class="icon-nav-item">
            <div id="dropper">
                <img src="/img/<%= loggedFun.foto %>" alt="user" class="user-img mr-2"> <span class="span-img"><%= loggedFun.email %> <i id="icon-dropper" class="fa fa-chevron-up"></i></span>
            </div>
            <div class="drop-menu" id="drop-menu">
                <a href="/perfil" class="dropdown-item"><i class="fa fa-user-o"></i> Perfil</a>
                <hr>
                <a href="/logout" class="dropdown-item"><i class="fa fa-sign-out"></i> Sair</a>
            </div>
        </li>
    </nav>
    <i class="fa fa-bars icon-menu" id="icon-nav"></i>
</header>