<div class="modal fade" id="restaurarAluno<%= aluno.id %>" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <form action="/aluno/reciclagem/restaurar" method="POST" class="modal-content">
            <div class="modal-header">
                <h7 class="modal-title font-weight-bold"><i class="fa fa-share"></i> Restaurar Aluno</h7>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p class="p-modal text-center">Deseja restaurar este aluno? (<i class="fa fa-share text-info"></i>)</p>
                <input type="hidden" name="alunoId" value="<%= aluno.id %>">
                <input type="hidden" name="userId" value="<%= loggedUser.id %>">
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-danger" data-dismiss="modal">Não</button>
                <button type="submit" id="enviar" class="btn btn-info">Sim</button>
            </div>
        </form>
    </div>
</div>