<div class="modal fade" id="deleteFuncao<%= funcao.id %>" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <form action="/funcoes/delete" method="POST" class="modal-content">
            <div class="modal-header">
                <h7 class="modal-title font-weight-bold"><i class="fa fa-trash-o"></i> Excluir Função</h7>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p class="p-modal text-center">Tem certeza que deseja excluir esta função? (<i class="fa fa-remove text-danger"></i>)</p>
                <input type="hidden" name="funcaoId" value="<%= funcao.id %>">
                <input type="hidden" name="userId" value="<%= loggedUser.id %>">
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-danger" data-dismiss="modal">Não</button>
                <button type="submit" id="enviar" class="btn btn-info">Sim</button>
            </div>
        </form>
    </div>
</div>