<div class="modal fade" id="formModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <form action="/funcionario/add" method="POST" class="modal-content" enctype="multipart/form-data">
            <div class="modal-header">
                <h7 class="modal-title font-weight-bold"><i class="fa fa-plus-circle"></i> Cadastrar funcionário</h7>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="form-row">
                    <div class="form-group col-lg-7">
                        <label for="nome">Nome Completo</label>
                        <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome Completo" maxlength="120" required>                    
                    </div>
                    <div class="form-group col-lg-5">
                        <label for="dtNnascimento">Data de Nascimento</label>
                        <input type="date" class="form-control" id="dtNascimento" name="dtNascimento" required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-lg-4 mt-1">
                        <label for="sexo">Sexo</label>
                        <select class="form-control" id="sexo" name="sexo" required>
                            <option></option>
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                        </select>
                    </div>
                    <div class="form-group col-lg-4 mt-1">
                        <label for="estadoCivil">Estado Civíl</label>
                        <select class="form-control" id="estadoCivil" name="estadoCivil" required>
                            <option></option>
                            <option value="Solteiro">Solteiro</option>
                            <option value="Casado">Casado</option>
                        </select>
                    </div>
                    <div class="form-group col-lg-4 mt-1">
                        <label for="codBi">Nº do BI</label>
                        <input type="text" class="form-control" name="codBi" id="codBi" placeholder="Deve conter 14 dígitos" maxlength="14" required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-lg-4 mt-1">
                        <label for="telefone">Tel</label>
                        <input type="number" class="form-control" name="telefone" id="telefone" placeholder="9 dígitos sem espaço" required>
                    </div>
                    <div class="form-group col-lg-8 mt-1">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" name="email" id="email" placeholder="Email" maxlength="120" required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-lg-12 mt-1">
                        <label for="endereco">Endereço</label>
                        <input type="text" name="endereco" class="form-control" placeholder="Província, Município, Bairro">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-lg-4 mt-1">
                        <label for="funcaoId">Função</label>
                        <select class="form-control" id="funcaoId" name="funcaoId" required>
                            <option></option>
                            <% if(funcao.length > 0) { %>
                                <% for(let f of funcao) { %>
                                    <option value="<%= f.id %>"><%= f.designacao %></option>
                                <% } %>
                            <% } else { %>
                                <option>Sem função! Adicione</option>
                            <% } %>
                        </select>
                    </div>
                    <div class="form-group col-lg-3 mt-1">
                        <label for="salario">Salário (kz)</label>
                        <input type="number" class="form-control" name="salario" id="salario" placeholder="Salário" required>
                    </div>
                    <div class="form-group col-lg-5 mt-1">
                        <label for="numConta">Número da Conta</label>
                        <input type="number" class="form-control" name="numConta" id="numConta" placeholder="Nº da Conta Bancária" required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-lg-6 mt-1">
                        <label for="password">Senha</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Senha" maxlength="120" required>
                    </div>
                    <div class="form-group col-lg-6 mt-1">
                        <label for="confirmPassword">Confirmar a Senha</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirmar a senha" maxlength="120" required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group mt-1">
                        <label for="foto">Fotografia</label>
                        <input type="file" class="btn btn-default" id="foto" name="foto" required>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-danger"><i class="fa fa-trash-o"></i> Limpar</button>
                <button type="submit" id="enviar" class="btn btn-info"><i class="fa fa-plus-circle"></i> Cadastrar</button>
            </div>
        </form>
    </div>
</div>